<div class="step" data-x="6700" data-y="-300" data-scale="6">
  <div class="media {{blockclass}}">
    <div class="img">
      <span class="imgblock"/>
    </a>
    <div class="bd">
      {{text}}
    </div>s
  </div>
</div>
